---
import GlassmorphicContainer from "../glassmorphism/GlassmorphicContainer.svelte";

interface Props {
  globalColor: string;
}

const { globalColor } = Astro.props;
---

<GlassmorphicContainer client:only color={globalColor} text="Bye 👋">
  <div class="p-6">
    <div>
      $ <span class="text-green">echo</span>
      <span class="text-text">"Thanks for Reading"</span>
    </div>
    <div class="text-center text-4xl font-bold text-subtext0 mt-4">
      Thanks for Reading!
    </div>
    <div class="mt-8">
      $ <span class="text-green">ln</span>
      <span class="text-text"
        >-s ../blog.txt <span
          class="underline text-blue hover:text-blue-400 scale-100 hover:scale-105 transition-all"
          ><a href="/blog">./check_out_my_blog</a></span
        ></span
      >
    </div>
    <div class="flex items-center mt-4">
      <span class="text-text">$</span>
      <div class="w-3 h-6 bg-pink ml-2 animate-blink"></div>
    </div>
  </div>
</GlassmorphicContainer>