---
import GlassmorphicContainer from "../glassmorphism/GlassmorphicContainer.svelte";

interface Props {
  globalColor: string;
}

const { globalColor } = Astro.props;
---

<GlassmorphicContainer client:only color={globalColor} text="Bye 👋">
  <div class="p-6">
    <div class="text-center text-4xl font-bold text-subtext0">
      Thanks for Reading!
    </div>
    <div class="mt-8 text-center">
      <span class="underline text-blue hover:text-blue-400 scale-100 hover:scale-105 transition-all"
        ><a href="/blog">Check out my blog</a></span>
    </div>
  </div>
</GlassmorphicContainer>