---
import GlassmorphicContainer from "../glassmorphism/GlassmorphicContainer.svelte";
import EzaTree from "./ezatree.svelte";

interface Props {
  globalColor: string;
}

const { globalColor } = Astro.props;
---

<GlassmorphicContainer client:only color={globalColor} text="Skills & Tech">
  <div class="p-6 space-y-6">
    <div class="text-lg text-text">
      $ <span class="text-green">eza</span>
      <span class="text-text">-T</span>
      <div class="mt-4 grid grid-cols-1 text-subtext0 text-[16px]">
        <EzaTree color={globalColor} />
      </div>
    </div>
  </div>
</GlassmorphicContainer>