# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# bun compiled output
server
server.exe


# environment variables
.env
.env.production

# playwright
/playwright-report/
/test-results/
/playwright/.cache/

# macOS-specific files
.DS_Store

# binaries
bin/