/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 @font-face {
   font-family: "CaskaydiaCoveNF";
   src: url("/fonts/CaskCov.woff2");
   font-display: swap;
 }
 
 /* Fallback font that closely matches CaskaydiaCoveNF */
 .nerdfont { 
   font-family: "CaskaydiaCoveNF", "Arial", "Monaco", "Andale Mono", monospace;
 }
/* .nerdfont {
  font-family: "CaskaydiaCoveNF";
}

.nerdfont {
  font-family: "Arial";
} */

/* Make a tiling background for the page */
.tilebg {
  background-image: url("/TileBG.webp");
}