---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/navbar.astro";
import "../styles/global.css";
import Meteors from "../components/meteors/Meteors.svelte";
import PixelCanvas from "../components/pixelcanvas/PixelCanvas.svelte";
import GlassmorphicContainer from "../components/glassmorphism/GlassmorphicContainer.svelte";
import GlassmorphicInsetButton from "../components/glassmorphism/GlassmorphicInsetButton.svelte";
import EzaTree from "../components/homepage/ezatree.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="author" content="Shlok Bhakta" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Hire, Blog, Personal Site"
    />
    <meta
      name="description"
      content="This is Shlok Bhakta. I am a developer who is studying at Texas A&M University who is adept at many things all the way from CI/CD to backend code to web dev. Come check out what I do!"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Home Page</title>
    <script>
      // When the user scrolls the page, execute myFunction
      window.onscroll = function () {
        myFunction();
      };

      // Get the navbar
      var navbar = document.getElementById("navbar");

      // Get the offset position of the navbar
      var sticky = navbar?.offsetTop;

      // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
      function myFunction() {
        if (window.pageYOffset >= sticky!) {
          navbar?.classList.add("sticky");
        } else {
          navbar?.classList.remove("sticky");
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const elements = document.querySelectorAll(".animate-on-scroll");

        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("visible");
            }
          });
        });

        elements.forEach((element) => {
          observer.observe(element);
        });
      });
    </script>
    <ClientRouter />
    <style>
      /* Page content */
      .content {
        padding: 25px;
      }

      /* The sticky class is added to the navbar with JS when it reaches its scroll position */
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
      .sticky + .content {
        padding-top: 60px;
      }

      .animate-on-scroll {
        opacity: 0;
        transform: translateY(20px);
        transition:
          opacity 0.6s ease-out,
          transform 0.6s ease-out,
          background 0.3s ease,
          transform 0.3s ease;
      }
      .animate-on-scroll.visible {
        opacity: 1;
        transform: translateY(0);
      }
      .animate-blink {
        animation: blink 1s step-end infinite;
      }
      @keyframes blink {
        50% {
          opacity: 0;
        }
      }
    </style>
  </head>
  <body class="mocha bg-crust tilebg">
    <body class="mocha bg-crust tilebg">
      <div id="navbar" class="z-50 sticky">
        <Navbar />
      </div>

      <!-- Spacer -->
      <div class="h-[60px]"></div>

      <!-- Starting Howdy -->
      <!-- <div class="absolute w-svw overflow-x-clip">
        <Meteors number={10} client:load />
      </div> -->
      <div class="mt-10 rounded-lg relative overflow-hidden"></div>
      <!-- Clamps content to 2/5 the screen -->
      <div class="w-4/5 max-w-6xl mx-auto">
        <!-- Hero Section -->
        <!-- Socials  -->
        <GlassmorphicContainer client:only color="#f9e2af">
          <div class="p-6 grid grid-cols-1 grid-flow-row">
            <div class="">
              $ 
              <span class="text-green">echo</span>
              <span class="text-text">-e</span>
              <span class="text-yellow">"</span><span class="text-pink">$(</span><span class="text-green">curl</span>
              <span class="text-text">-s</span>
              <span class="text-text">https://shlokbhakta.dev/fetchwelcome</span><span class="text-pink">)</span><span class="text-yellow">"</span>
            </div>
            <div class="font-mono">
              <div class="flex flex-col md:flex-row gap-4">
                <pre
                  class="text-blue select-none">                             
   :::            ::: :::    
  :+:            :+:   :+:   
 +:+            +:+     +:+  
+#+            +#+       +#+ 
 +#+          +#+       +#+  
  #+#        #+#       #+#   
   ###      ###      ###    
                  </pre>
                <div class="flex flex-col gap-0">
                  <div>
                    <span class="text-red">Shlok_Bhakta</span>@<span
                      class="text-green">portfolio</span
                    >
                  </div>
                  <div class="text-text">---------------------</div>
                  <div>
                    <span class="text-yellow">OS:</span>
                    <span class="text-text">&lt;Howdy Welcome To My Site/&gt;</span>
                  </div>

                  <div>
                    <span class="text-yellow">Languages:</span>
                    <span class="text-text">JavaScript, Python, Java, C++</span>
                  </div>
                  <div>
                    <span class="text-yellow">Shell:</span>
                    <span class="text-text">Full Stack Development</span>
                  </div>
                  <div>
                    <span class="text-yellow">Local IP:</span>
                    <span class="text-text">College Station, TX</span>
                  </div>
                  <div>
                    <span class="text-yellow">CPU:</span>
                    <span class="text-text">Texas A&M University</span>
                  </div>
                  <div>
                    <span class="text-yellow">Memory:</span>
                    <span class="text-text">Computer Science Major</span>
                  </div>
                  <div>
                    <span class="text-yellow">Swap:</span>
                    <span class="text-text">Cybersecurity Minor</span>
                  </div>                  
                  <div>
                    <span class="text-yellow">Locale:</span>
                    <span class="text-text">English (US) - Fluent</span>
                  </div>
                  <div class="mt-0">
                    <span class="text-yellow">Socials:</span>
                    <div class="flex flex-col gap-1 mt-1 ml-4">
                      <a
                        href="https://github.com/Shlok-Bhakta"
                        class="text-sky hover:text-purple-400 transition-all duration-200 hover:-translate-y-0.5"
                        target="_blank"
                        rel="noopener noreferrer">GitHub</a
                      >
                      <a
                        href="https://linkedin.com/in/shlokbhakta"
                        class="text-sky hover:text-blue-400 transition-all duration-200 hover:-translate-y-0.5"
                        target="_blank"
                        rel="noopener noreferrer">LinkedIn</a
                      >
                      <a
                        href="https://twitter.com/shlokbhakta"
                        class="text-sky hover:text-blue-500 transition-all duration-200 hover:-translate-y-0.5"
                        target="_blank"
                        rel="noopener noreferrer">Twitter</a
                      >
                      <a
                        href="mailto:shlokbhakta1@gmail.com"
                        class="text-sky hover:text-red-600 transition-all duration-200 hover:-translate-y-0.5"
                        >Email</a
                      >
                    </div>
                  </div>
                  <div class="mt-2 flex gap-2">
                    <span class="text-red">███</span>
                    <span class="text-green">███</span>
                    <span class="text-yellow">███</span>
                    <span class="text-blue">███</span>
                    <span class="text-purple">███</span>
                    <span class="text-cyan">███</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </GlassmorphicContainer>
        <!-- Spacer -->
        <div class="mt-5"></div>
        <!-- Socials and Technology  -->
        <div class="grid grid-cols-2 gap-5">
          <!-- Skills Section -->
          <GlassmorphicContainer client:only color="#f472b6">
            <div class="p-6 space-y-6">
              <div class="text-lg text-text">
                $ <span class="text-green">eza</span>
                <span class="text-text">-T</span>
                <div class="mt-4 grid grid-cols-1 text-subtext0 text-[16px]">
                  <EzaTree />
                </div>
              </div>
            </div>
          </GlassmorphicContainer>

          <!-- About Me  -->
          <GlassmorphicContainer client:only color="#b4befe">
            <div class="p-6">
              <div>
                $ <span class="text-green">cat</span>
                <span class="text-text">About.md</span>
                <div>
                  <div class="text-red text-2xl ">
                    # About Me
                  </div>
                  <p>
                    I am a Fullstack Developer who is studying at Texas A&M University. I am majoring in Computer Science and minoring in Cybersecurity graduating in May 2026. 
                  </p>
                  <div class="text-peach text-xl">
                    ## Looking for
                  </div>
                  <!-- make list bulleted -->
                  <ol class="list-disc px-8">
                    <li class="">An Internship for Summer 2025</li>
                  </ol>
                  <div class="text-peach text-xl">
                    ## Skills
                  </div>
                  <p>
                    I like to learn new tech, and apply what I know to create things and solve problems.
                  </p>
                  <p class="mt-2">
                    I dont have any professional experience with fullstack development (hence the internship search), but I have experience in backend development and frontend development.
                  </p>
                </div>
              </div>
            </div>
          </GlassmorphicContainer>

          <!-- Spacer
          <div class="mt-5"></div> -->
        </div>
      </div>
    </body>
  </body>
</html>
