---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navbar from "../components/navbar.astro";
import "../styles/global.css";
import SkillCard from "../components/skillCard.astro";

import PocketBase from "pocketbase";

const pb = new PocketBase("https://db.shlokbhakta.dev");
let data = await pb.collection("Skills").getFullList({
  sort: "-created",
  expand: "Tag",
});

for (let i = 0; i < data.length; i++) {
  data[i].expand.Tag.imgurl = pb.files.getUrl(
    data[i].expand?.Tag,
    data[i].expand?.Tag.Icon,
  );
}
console.log(data[0].expand?.Tag);
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="author" content="Shlok Bhakta" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Hire, Blog, Personal Site, "
    />
    <meta
      name="description"
      content="This is Shlok Bhakta. I am a developer who is studying at Texas A&M University who is adept at many things all the way from CI/CD to backend code to web dev. Come check out what I do!"
    />
    <style></style>
  </head>
  <body class="mocha bg-crust">
    <Navbar />
    <section class="flex flex-col items-center pb-40 pt-14">
      <div
        class="block bg-gradient-to-r from-green to-sapphire text-transparent bg-clip-text text-[20vw] nerdfont"
      >
        &ltHowdy/&gt
      </div>
    </section>
    <div class="w-full h-full bg-mantle nerdfont">
      <div class="mx-auto text-4xl text-text text-center">Things I do!</div>
      <ol class="px-5">
        <li>
          <SkillCard
            text="I've been coding for around 7 years, eperimenting with different languages and paradigms. Currently my 2 favorite languages are Python and C++"
            tag="Programming"
            symbol="data_object"
            colorFlash="#500000"
          />
        </li>
      </ol>
    </div>
    <!-- <ol class="
        grid
        gap-2
        m-4
        grid-cols-1
        md:flex"
      >
        {
          data.map((item) => (
            <li>
              <SkillCard text={item.Description} tag={item.expand?.Tag} />
            </li>
          ))
        }
      </SkillCard> -->
  </body>
</html>
