---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navbar from "../components/navbar.astro";
import "../styles/global.css";
import SkillCard from "../components/skillCard.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="author" content="Shlok Bhakta" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Hire, Blog, Personal Site, "
    />
    <meta
      name="description"
      content="This is Shlok Bhakta. I am a developer who is studying at Texas A&M University who is adept at many things all the way from CI/CD to backend code to web dev. Come check out what I do!"
    />
    <style></style>
  </head>
  <body class="mocha bg-crust">
    <Navbar />
    <section class="flex flex-col items-center pb-40 pt-14 sm:pt-20 lg:pt-32">
      <div
        class="block bg-gradient-to-r from-green to-sapphire text-transparent bg-clip-text text-[20vw] nerdfont"
      >
        &ltHowdy/&gt
      </div>
    </section>
    <SkillCard
      title="Webpack"
      text="never again shall I use this trecherous tool"
      posts="0"
      image="https://raw.githubusercontent.com/webpack/media/master/logo/icon.svg"
    />
    <SkillCard
      title="Astro"
      text="poggers metaframework with amazing docs and tools"
      posts="0"
      image="https://astro.build/favicon.svg"
    />
  </body>
</html>
