---
import "../styles/global.css";
import Hamburger from "./hamburger.svelte";
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div class="bg-base py-2">
  <ul class="flex items-center">
    <!-- Logo Area -->
    <li>
      <a href="/" class="text-4xl mx-3 text-text ml-4 font-display nerdfont">
        SB~%
      </a>
    </li>
    <!-- a spacer -->
    <li class="flex-auto"></li>
    <!-- Hamburger Menu -->
    <Hamburger client:load />
    <!-- the other 3 buttons -->
    <li>
      <div class="text-lg hidden sm:hidden md:flex">
        <a
          href="/blog/"
          class="bg-surface2 rounded-md py-1 px-3 mx-3 text-text nerdfont"
        >
          Blog
        </a>
        <a
          href="/projects/"
          class="bg-surface2 rounded-md py-1 px-3 mx-3 text-text nerdfont"
        >
          Projects
        </a>
        <a
          href="/contact/"
          class="bg-surface2 rounded-md py-1 px-3 mx-3 mr-4 text-text nerdfont"
        >
          Contact
        </a>
      </div>
    </li>
  </ul>
</div>
