---
import "../styles/global.css";

const { image, tag, col } = Astro.props;
---

<div
    class="flex flex-row items-center space-x-2 rounded-md border-[1px] w-fit"
    style=`border-color: ${col}; background-color: ${col}20;`
>
    <img class="pl-2 aspect-square h-6 w-6" src={image} alt={tag + " icon"} />
    <div class="pr-2 text-sm text-text nerdfont">{tag}</div>
</div>
