---
import "../styles/global.css";

const { image, tag, col } = Astro.props;
---

<div
    class="flex items-center gap-2 px-2 py-1 border bg-surface0 hover:bg-surface1 transition-colors duration-200 w-fit"
    style=`border-color: ${col}60;`
>
    <img class="aspect-square h-4 w-4" src={image} alt={tag + " icon"} />
    <span class="text-xs text-text nerdfont">{tag}</span>
</div>
