---
import "../styles/global.css";

const { color, tag } = Astro.props;
---

<div
    class="flex flex-row items-center space-x-2 rounded-md bg-surface0 border-[1px] w-fit"
    style=`border-color: ${color};`
>
    <div class="pr-2 text-sm nerdfont text-ceter" style=`text-color: ${color};`>{tag}</div>
</div>
